<h1> New Cat DEETS: </h1>

<form action="<%= cat_rental_requests_url %>" method="POST" name=:cats_rental_request>

  <input
    name="authenticity_token"
    type="hidden"
    value="<%= form_authenticity_token %>">

  <p><label for="cat_rental_request_cat_id">Cats:</label></p>
  <p><select name="cat_rental_request[cat_id]" id="cat_rental_request_cat_id">

    <% Cat.all.each do |cat| %>
      <option value="<%= cat.id %>"><%= cat.name %></option>
    <% end %>
  </select></p>

  <label for="cat_rental_request_start_date">Start Date</label>
  <input
    type="date"
    name="cat_rental_request[start_date]"
    id="cat_rental_request_start_date">

  <br>

  <label for="cat_rental_request_end_date">End Date</label>
  <input
    type="date"
    name="cat_rental_request[end_date]"
    id="cat_rental_request_end_date">

  <br>

  <p><input
      type="submit"
      value="Book my cat!">
</form>
